{% extends "base.html" %}

{% block title %}Welcome{% endblock %}

{% block content %}
    <h1>Welcome to Meeting Planner</h1>

    {% if user.is_authenticated %}
        <h2>Rooms</h2>
        <a href="{% url 'rooms' %}">List of Rooms</a>

    
        <h2>Meetings</h2>
        <ul>
            {% for meeting in meetings %}

                <li>
                    <a href="{% url 'detail' meeting.id %}">
                        {{ meeting.title }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    {% endif %}
    

{% endblock %}
